sequence_length: 256
num_layers: 36

mask_config:
  mask_type: "causal"
  window_size: null
attention_config:
  num_heads: 64
  alibi_slopes: [[0.9170040432046712, 0.8408964152537145, 0.7711054127039704, 0.7071067811865476, 0.6484197773255048, 0.5946035575013605, 0.5452538663326288, 0.5, 0.4585020216023356, 0.42044820762685725, 0.3855527063519852, 0.3535533905932738, 0.3242098886627524, 0.29730177875068026, 0.2726269331663144, 0.25, 0.2292510108011678, 0.21022410381342863, 0.1927763531759926, 0.1767766952966369, 0.1621049443313762, 0.14865088937534013, 0.1363134665831572, 0.125, 0.1146255054005839, 0.10511205190671431, 0.0963881765879963, 0.08838834764831845, 0.0810524721656881, 0.07432544468767006, 0.0681567332915786, 0.0625, 0.05731275270029195, 0.052556025953357156, 0.04819408829399815, 0.04419417382415922, 0.04052623608284405, 0.03716272234383503, 0.0340783666457893, 0.03125, 0.028656376350145975, 0.026278012976678578, 0.024097044146999074, 0.02209708691207961, 0.020263118041422026, 0.018581361171917516, 0.01703918332289465, 0.015625, 0.014328188175072988, 0.013139006488339289, 0.012048522073499537, 0.011048543456039806, 0.010131559020711013, 0.009290680585958758, 0.008519591661447326, 0.0078125, 0.007164094087536494, 0.0065695032441696445, 0.0060242610367497685, 0.005524271728019903, 0.005065779510355506, 0.004645340292979379, 0.004259795830723663, 0.00390625]]
  head_weights: null
  softmax_temperature: 1.0
content_config:
  diagonal_scores: [[0.0]]
  base_scores: [[0.0]]
lambda_schedule_config:
  schedule_type: "custom"
  lambdas_custom: [0.9719391942620278,0.09954270476102829,0.08608054745942355,0.09464458960294723,0.10770055814087391,0.11350006309896707,0.12348958606272936,0.12961853095144032,0.13697326073795557,0.1308644313439727,0.13770054175704718,0.14430132529884576,0.1534377930164337,0.15919559817016124,0.15811355067789554,0.14567574090510607,0.1534077759757638,0.15038047731667756,0.1444722822383046,0.13108401196449995,0.13190984250605106,0.1325672049820423,0.1185716941729188,0.11399982936680317,0.11149895574897528,0.08787200426310302,0.1145312642455101,0.06985971827805042,0.07700114061683416,0.08581402324140072,0.06711654994636775,0.06378957206010819,0.06006517389789224,0.0631108039394021,0.10820267301797867,0.18531750194728375]

save_dir: ./results/rollout/no_content/falcon-rw-7b/
